<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap Content Delivery Network -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Add a Superhero</title>
</head>
<body>
    <div class="container p-4 bg-primary text-white">
        <h1>Add a Superhero</h1>
    </div>

    <div class="container p-4">
        <!-- Form to add a new superhero -->
        <form class="font-weight-bold" action="{% url 'superheroes:new_superhero' %}" method="post">
            {% csrf_token %}

            Name:  <input type="text" name="name" id="name" required class="container m-2"><br>

            Alter Ego:  <input type="text" name="alter_ego" id="alter_ego" required class="container m-2"><br>
            
            Primary Superpower:  <input type="text" name="primary_superpower" id="primary_superpower" required class="container m-2"><br>
            
            Secondary Superpower:  <input type="text" name="secondary_superpower" id="secondary_superpower" required class="container m-2"><br>
            
            Catchphrase:  <input type="text" name="catchphrase" id="catchphrase" required class="container m-2"><br>
            <input type="submit" value="Submit Superhero" class="btn btn-success mt-2 ml-2">    
        </form>

    </div>

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>