<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap Content Delivery Network -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Superhero Details</title>
</head>
<body>
    <div class="container p-4 bg-primary text-white">
        <h1>{{superhero.name}}</h1>
    </div>

    <!-- Display a Superhero's details using results from query -->
    <div class="container p-4">
            <dl>
                <dt>Alter Ego:</dt>
                    <dd>{{superhero.alter_ego}}</dd>
                <dt>Primary Superpower:</dt>
                    <dd>{{superhero.primary_superpower}}</dd>
                <dt>Secondary Superpower:</dt>
                    <dd>{{superhero.secondary_superpower}}</dd>
                <dt>Catchphrase:</dt>
                    <dd>"{{superhero.catchphrase}}"</dd>
            </dl>
    </div>
            <!-- jQuery -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

            <!-- Popper JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>