<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superheroes App</title>
</head>
<body>
    <h1>Superheroes List</h1>

        <ul>
            <!-- Display Superhero list using results from query -->
            {% for hero in all_superheroes %}
            <!-- Display Superhero name and Details page link -->
            <li>{{hero.name}}</li>
            <button><a href="{% url 'superheroes:detail' hero.id %}">Details</a></button>
            <br>
            <br>
            {% endfor %}
        </ul>

    <button><a href="{% url 'superheroes:create' %}">Add a Superhero</a></button>
</body>
</html>